name: Check for update and release

on:
  workflow_dispatch:
  schedule:
    - cron:  '10 * * * *'

jobs:
  call-workflow:
    uses: thespad/actions/.github/workflows/check-and-release.yml@v7
    with:
      repo_owner: ${{ github.repository_owner }}
      app_name: "arr-in-one"
      release_type: "script"
      dockerhub_user: "thespad"
    secrets:
      repo_scoped_token: ${{ secrets.repo_scoped_token }}
      dockerhub_password: ${{ secrets.docker_password }}
